@page
@model EventPlannerWebApplication.Pages.Drinks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Drink[0].DenumireBautura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drink[0].PretBautura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drink[0].BauturaImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Drink) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DenumireBautura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PretBautura)
            </td>
            <td>
               <img src="data:image/jpg;base64, @item.BauturaImage" width="120px" height="120px" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
