@page
@model EventPlannerWebApplication.Pages.Locatii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Locatie[0].LocationImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie[0].DenumireLocatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie[0].Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie[0].CapacitateMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie[0].PretLocatie)
            </th>
            <th></th>
        </tr>
    </thead>
    </table>
@foreach (var item in Model.Locatie) {

<div style="width:33%; display:inline-block; padding:4px">
    <span stlye="padding-bottom:4px;">
        <img src="data:image/jpg;base64 , @item.LocationImage" width="120px" height="120px" onclick="openPopup(item)"/>
        </span>
        <h1>@Html.DisplayFor(modelItem => item.DenumireLocatie)</h1>
        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
</div>
       <div  id="popup" style=" display:none; position:fixed; top:50%; left:50%;transform:translate(-50%,-50%);width:300px;height:200px; background-color:white;border:1px solid black; padding:20px">
        <button onclick="closePopup()">Close</button>
       
               <h2 id="item">Adresa: @Html.DisplayFor(modelItem => item.Adresa)</h2>
           
           
                <h2 id="item">Capacitate: @Html.DisplayFor(modelItem => item.CapacitateMaxima)</h2>
            
           
                <h2 id="item">Pret: @Html.DisplayFor(modelItem => item.PretLocatie)</h2>
           

    </div>            
      
}

<script>
    function openPopup(){
        console.log("popup opened");
        document.getElementById("popup").style.display = "block";
        document.getElementById("item").innerHTML = myObject.item;
    }
    function closePopup(){
        console.log("popup closed");
        document.getElementById("popup").style.display = "none";
    }
</script>
