@page
@model EventPlannerWebApplication.Pages.Locatii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Locatie[0].LocationImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie[0].DenumireLocatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie[0].Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie[0].CapacitateMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie[0].PretLocatie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Locatie) {
        <tr>
            <td>
                <img src="data:image/jpg;base64, @item.LocationImage" width="120px" height="120px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DenumireLocatie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacitateMaxima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PretLocatie)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
